node_modules
**/node_modules
**/dist
**/.env
**/*.log
**/coverage
**/.nyc_output
**/logs
.git
.github
design-packages
scripts/load
**/*.spec.ts
**/*.spec.tsx
**/*.page.spec.tsx
**/*.test.ts
**/tests
**/jest.config.js
**/vitest.config.ts
**/playwright.config.ts
